body {
  background: lightpink; 
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  gap: 35px;
}

.item {
  width: 45vw;
}

.item.hattie-and-james {
  background-image: url("Assets/besties.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item.kelton {
  background-image: url("Assets/kelton.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
